<!DOCTYPE html>
<html lang="en">
  <head>
    <title>coverletters-ai</title>
    <link rel="icon" type="image/x-icon" href="static/images/favicon.png">
    <meta property="og:title" content="coverletters.ai" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />

    <!--This is the head section-->
    <!-- <style> ... </style> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>
    <div>
      <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" />

      <div class="home-container">
        <header data-thq="thq-navbar" class="home-navbar">
          <span class="home-logo">
            <span>coverletters-ai</span>
            <br />
          </span>
          <div
            data-thq="thq-navbar-nav"
            data-role="Nav"
            class="home-desktop-menu"
          >
            <nav
              data-thq="thq-navbar-nav-links"
              data-role="Nav"
              class="home-nav"
            ></nav>
          </div>
          <div data-thq="thq-burger-menu" class="home-burger-menu"></div>
          <div data-thq="thq-mobile-menu" class="home-mobile-menu">
            <div
              data-thq="thq-mobile-menu-nav"
              data-role="Nav"
              class="home-nav1"
            >
              <div class="home-container1">
                <span class="home-logo1">Character</span>
                <div data-thq="thq-close-menu" class="home-menu-close">
                  <svg viewBox="0 0 1024 1024" class="home-icon">
                    <path
                      d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                    ></path>
                  </svg>
                </div>
              </div>
              <nav
                data-thq="thq-mobile-menu-nav-links"
                data-role="Nav"
                class="home-nav2"
              >
                <span class="home-text02">About</span>
                <span class="home-text03">Features</span>
                <span class="home-text04">Pricing</span>
                <span class="home-text05">Team</span>
                <span class="home-text06">Blog</span>
              </nav>
              <div class="home-container2">
                <button class="home-login button">Login</button>
                <button class="button">Register</button>
              </div>
            </div>
          </div>
        </header>
        <section class="home-hero">
          <div class="home-heading">
            <h1 class="home-header">
              <span>Tired of writing custom</span>
              <span class="home-text08">cover letters</span>
              <span>for your job applications?</span>
            </h1>
            <p class="home-caption">
              I got you covered! Just copy-paste the contents of your CV and
              the Job's Description and let the AI do its magic.
            </p>
          </div>
        </section>
        <section class="home-form">
          <form method="post" class="home-form1" id="home-form-id">
            <div id="form-container" class="home-container3">
              <div id="fields-container" class="home-fields">
                <div class="home-cv-container">
                  <label class="home-caption1">CV / Resume Text</label>
                  <textarea
                    placeholder="copy-paste your Resume here"
                    name="cvtext"
                    id="cvtext"
                    class="home-textarea textarea"
                    maxlength="4000"
                  ></textarea>
                </div>
                <div class="home-jd-container">
                  <label class="home-caption2">Job Description</label>
                  <textarea
                    placeholder="copy-paste the Job Description here"
                    type="jdtext"
                    id="jdtext"
                    name="jdtext"
                    class="home-textarea1 textarea"
                    maxlength="4000"
                  ></textarea>
                </div>
                <div class="home-jd-container1">
                  <label class="home-caption3">Word Count</label>
                  <input
                    type="number"
                    max="1000"
                    value="300"
                    required=""
                    placeholder="output word count"
                    name="charcount"
                    id="charcount"
                    class="home-textinput input"
                  />
                </div>
              </div>
              <div class="home-button">
                <button
                  name="submit-button"
                  id="submit-button"
                  class="home-submit button"
                >
                  <i class="fa fa-circle-o-notch fa-spin d-none" id="loading-icon" style="display: none;"></i>
                  <span id="button-text">Write me a Cover Letter!</span>
                </button>
              </div>
            </div>
          </form>
        </section>
        <section class="home-output-pane">
          <p class="home-caption4">
            Check out the generated cover letter here!
          </p>
          <textarea
            placeholder="generated output goes here"
            name="outputbox"
            id="outputbox"
            class="home-textarea2 textarea"
          >{{output}}</textarea>
        </section>
        <div class="home-divider"></div>
        <footer class="home-footer">
          <div class="home-heading1">
            <h2 class="home-logo2">coverletters-ai</h2>
          </div>
          <span class="home-copyright">
            © 2023 coverletters-ai.com All Rights Reserved.
          </span>
        </footer>
      </div>
    </div>
    <script>
      // Manage Outputbox Focusing
      document.getElementById("home-form-id").addEventListener("submit", function(event){
          event.preventDefault(); // Prevent the form from being submitted normally

          // Show spinner and change button text
          document.getElementById('loading-icon').style.display = 'inline-block';
          document.getElementById('button-text').innerHTML = 'Generating...';

          $.ajax({
              type: 'POST',
              url: '/',
              data: $('#home-form-id').serialize(),
              success: function(data) {
                  var jsonResponse = JSON.parse(data); // Parse the JSON response
                  var jobId = jsonResponse.job_id; // Get the job_id from the parsed JSON
                  checkJobStatus(jobId); // Call checkJobStatus() with the obtained job_id
              },
              error: function() {
                  // Hide spinner and change button text back in case of error
                  document.getElementById('loading-icon').style.display = 'none';
                  document.getElementById('button-text').innerHTML = 'Write me a Cover Letter!';
              }
          });
      });

      function checkJobStatus(jobId) {
          $.ajax({
              type: 'GET',
              url: '/results/' + jobId,
              success: function(data) {
                  if (data === "Nay!") {
                      // If the job is not yet finished, wait for a second and then check again
                      setTimeout(function() {
                          checkJobStatus(jobId);
                      }, 1000);
                  } else {
                      // If the job is finished, update the UI with the result and reset the button
                      $('#outputbox').val(data); // Use .val() instead of .html() for textarea

                      // Hide spinner and change button text back after job is done
                      document.getElementById('loading-icon').style.display = 'none';
                      document.getElementById('button-text').innerHTML = 'Write me a Cover Letter!';
                  }
              }
          });
      }
    </script>
  </body>
</html>
